Package                   Version
------------------------- ------------
altgraph                  0.17.4
beautifulsoup4            4.12.2
colorclass                2.2.2
compressed-rtf            1.0.6
easygui                   0.98.3
ebcdic                    1.1.1
extract-msg               0.45.0
IMAPClient                2.3.1
importlib-metadata        6.8.0
lark                      1.1.5
lxml                      4.9.3
msoffcrypto-tool          5.1.1
numpy                     1.26.0
olefile                   0.46
oletools                  0.60.1
openpyxl                  3.1.2
packaging                 23.1
pandas                    2.1.1
pcodedmp                  1.2.6
pefile                    2023.2.7
pip                       22.2.2
pyinstaller               6.0.0
pyinstaller-hooks-contrib 2023.9
pyparsing                 2.4.7
PyQt5                     5.15.9
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.12.2
pyserial                  3.5
python-dateutil           2.8.2
python-docx               0.8.11
pytz                      2023.3.post1
pywin32-ctypes            0.2.2
red-black-tree-mod        1.20
RTFDE                     0.1.0
secure-smtplib            0.1.1
setuptools                58.1.0
six                       1.16.0
soupsieve                 2.5
typing_extensions         4.8.0
tzdata                    2023.3
tzlocal                   5.0.1
wheel                     0.37.1
win-unicode-console       0.5
XlsxWriter                3.1.5
zipp                      3.17.0
